* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-container {
  width: 300px;
  border-radius: 10px;
}

.card-title {
  font-family: "Big Shoulders Display", sans-serif;
  line-height: 2.5;
  font-size: 45px;
}

.sedans-card,
.suv-card,
.luxury-card {
  width: 300px;
  height: 430px;
  background-color: hsl(31, 77%, 52%);
  padding: 30px;
  color: #ffff;
  border-radius: 10px 10px 0px 0px;
}

.learn-more-btn {
  border: none;
  background-color: #ffff;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  text-align: center;
  margin-top: 30px;
  color: hsl(31, 77%, 52%);
  font-weight: bold;
  outline: none;
  font-family: "Lexend Deca", sans-serif;
}

.card-description {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5;
}

.suv-card {
  background-color: hsl(184, 100%, 22%);
  border-radius: 0%;
}

.luxury-card {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 0px 10px 10px;
}

.card-container :nth-child(2) .learn-more-btn {
  color: hsl(184, 100%, 22%);
}

.card-container :nth-child(3) .learn-more-btn {
  color: hsl(179, 100%, 13%);
}
